@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --faint-grey: #f7f7f7;
  --light-grey: #d3d3d3;
  --grey: #353533;
  --dark-grey: #222;
  --dark-cyan: #337e81;
  --light-cyan: #386366;
  --faint-cyan: #eaf2f2;
  --red: #ec1a2e;
  --white: #fff;
  --font-size-small: 12px;
  --font-size-logo: 32px;
  --padding: 8px;
  --padding-medium: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
